* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}


/* SHARED STYLING */
header,
footer,
.hero-container {
  background-color: #1f2937;
}

header,
footer,
.hero-container,
.information-container,
.quote-container,
.cta-container {
  padding: 0 64px;
}

header,
footer,
.hero-container,
.cta-container {
  color: #f9faf8;
}

button,
.cta-container-inner {
  background-color: #3882f6;
}


/* HEADER STYLING */
header {
  display: flex;
}

header p,
header ul {
  padding-top: 24px;
}

header p {
  font-size: 24px;
}

header ul {
  display: flex;
  margin-left: auto;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: #f9faf8;
  margin-left: 16px;
}


/* HERO STYLING */
.hero-container {
  display: flex;
  padding-top: 64px;
  padding-bottom: 64px;
  align-items: center;
}

.hero-image {
  background-color: #5e5959;
  width: 600px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  margin-top: 20px;
  padding: 10px 30px;
  font-weight: 900;
  color: #e5e7eb;
  border: 1px solid #3882f6;
  border-radius: 10px;
}


/* INFORMATION STYLING */
.information-container {
  padding-top: 36px;
  padding-bottom: 96px;
}

.information-container h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  margin-bottom: 10px;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 150px;
}

.box {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
}


/* QUOTE STYLING */
.quote-container {
  background-color: #e5e7eb;
  padding-top: 64px;
  padding-bottom: 64px;
}

.quote-container h3 {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.quote-container p {
  text-align: right;
  font-weight: 900;
  margin-top: 10px;
}


/* CALL TO ACTION STYLING */
.cta-container {
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-container-inner {
  display: flex;
  padding: 24px;
  min-width: 100%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
}

.cta-container-inner button {
  border: 2px solid #e5e7eb;
  margin-bottom: 15px;
}


/* FOOTER STYLING */
footer {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}


/* HOVER EFFECTS */
header p:hover,
header ul li a:hover {
  cursor: pointer;
  color: #3882f6;
}

.hero button:hover,
.cta-button button:hover {
  cursor: pointer;
  color: #3882f6;
  background-color: #e5e7eb;
}